/*--------------------------------------------------------------
# Front-Page
--------------------------------------------------------------*/

.home {
    background: url('../../assets/images/ec-hero.jpg') no-repeat;
    height: 100vh;
    background-size: cover;
}
