/*--------------------------------------------------------------
# Front-Page
--------------------------------------------------------------*/

.home {
    .hero-image {
        background: url('../../assets/images/ec-hero.jpg') no-repeat;
        background-size: cover;
        height: 100vh;
    }
}