/*--------------------------------------------------------------
# Front-Page
--------------------------------------------------------------*/

.home {
    background-image: url('../../assets/images/ec-hero.jpg');
    height: 100vh;
    background-size: cover;
}
