/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    width: 100%;
    .header-wrapper {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        color: $color__text;
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Titillium Web', sans-serif;
    }
    .fa-tree {
        font-size: 2rem;
        width: auto;
        color: $color__text;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
    }
    .menu-wrapper {
        font-size: 20px;
        .menu-item {
            list-style: none;
        }
    }
}