/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
    position: fixed;
    .logo {
        color: #fff;
    }
    h1 {
        color: $color__text;
        .logo-part-enviro {

        }
        .logo-part-chem {

        }
    }
}