/*--------------------------------------------------------------
# Header
--------------------------------------------------------------*/
.site-header {
    position: fixed;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 2;
    width: 100%;
    .header-wrapper {
        max-width: 480px;
        margin-right: auto;
        margin-left: auto;
        @include media($tablet){
            max-width: $tablet;
        }
        @include media($desktop){
            max-width: $desktop;
        }
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        justify-content: space-between;
        color: $color__text;
        font-size: 40px;
        text-transform: uppercase;
        font-family: 'Titillium Web', sans-serif;
    }
    .fa-tree {
        font-size: 2rem;
        width: auto;
        color: $color__text;
        -webkit-text-fill-color: transparent; /* Will override color (regardless of order) */
        -webkit-text-stroke-width: 2px;
    }
    .menu-wrapper {
        font-size: 20px;
        .menu-item {
            list-style: none;
            margin-right: 0.5rem;
        }
    }
    /*
* Made by Erik Terwan
* 24th of November 2015
* All rights reserved
*
*
* If you are thinking of using this in
* production code, beware of the browser
* prefixes.
*/

a
{
text-decoration: none;
color: #232323;

transition: color 0.3s ease;
}

a:hover
{
color: $color__enviro;
}

#menuToggle
{
display: block;
z-index: 1;

-webkit-user-select: none;
user-select: none;
}

#menuToggle input
{
display: block;
position: absolute;
width: 40px;
height: 32px;

cursor: pointer;

opacity: 0; /* hide this */
z-index: 2; /* and place it over the hamburger */

-webkit-touch-callout: none;
}

/*
* Just a quick hamburger
*/
#menuToggle span
    {
    display: block;
    position: relative;
    width: 33px;
    height: 4px;
    margin-bottom: 5px;

    background: #fff;
    border-radius: 3px;

    z-index: 1;

    transform-origin: 4px 0px;

    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
                opacity 0.55s ease;

    }

#menuToggle span:first-child
{
transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2)
{
transform-origin: 0% 100%;
}

/*
* Transform all the slices of hamburger
* into a crossmark.
*/
#menuToggle input:checked ~ span
{
opacity: 1;
transform: rotate(45deg) translate(-2px, -1px);
background: #fff;
}

/*
* But let's hide the middle one.
*/
#menuToggle input:checked ~ span:nth-last-child(3)
{
opacity: 0;
transform: rotate(0deg) scale(0.2, 0.2);
}

/*
* Ohyeah and the last one should go the other direction
*/
#menuToggle input:checked ~ span:nth-last-child(2)
{
opacity: 1;
transform: rotate(-45deg) translate(0, -1px);
}

/*
* Make this absolute positioned
* at the top left of the screen
*/
#menu
{
position: absolute;
width: 300px;
padding: 50px;

background: #ededed;
list-style-type: none;
-webkit-font-smoothing: antialiased;
/* to stop flickering of text in safari */

transform-origin: 0% 0%;
transform: translate(150%, 0);

transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

#menu li
{
padding: 10px 0;
font-size: 2rem;
}

/*
* And let's fade it in from the left
*/
#menuToggle input:checked ~ ul
{
transform: scale(1.0, 1.0);
opacity: 1;
}
}